<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>

      <!-- Patch your custom events as shown below -->
      <initialize>
        <processor type="SitecoreZone.Eventing.EventRegistry, SitecoreZone.Eventing">
          <events hint="raw:RegisterEvent">
            <event type="SitecoreZone.Eventing.Samples.PublishCompleteEvent, SitecoreZone.Eventing.Samples" eventName="custom:publish:complete"/>
          </events>
        </processor>
      </initialize>

      <publish>
        <!-- This is an example of how the event framework can be used in the Publish pipeline to pass custom events / data -->
        <processor type="SitecoreZone.Eventing.Samples.PublishCompleteEventGenerator, SitecoreZone.Eventing.Samples"/>
      </publish>

    </pipelines>

    <events timingLevel="custom">
      <!-- Patch event handler for your custom events -->
      <event name="custom:publish:complete">
        <handler type="SitecoreZone.Eventing.Samples.CacheClearEventHandler, SitecoreZone.Eventing.Samples" method="OnPublishComplete" />
      </event>
    </events>

  </sitecore>
</configuration>