<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  
    <pipelines>
      <initialize>
        <processor type="SitecoreZone.Eventing.EventRegistry, SitecoreZone.Eventing"
                   patch:after="processor[@type='Sitecore.Pipelines.Loader.SetGlobals, Sitecore.Kernel']">
          
          <events hint="raw:RegisterEvent">
            <!-- Define your custom events that derive from SitecoreZone.Eventing.SitecoreEvent here -->

            <!-- Example of custom event definition with event name specified explicitly -->
            <!-- <event type="MyNamespace.Events.MyCustomEvent1, MyLibrary" eventName="my:customevent1"/> -->

            <!-- Example of custom event definition with event name not specified -->
            <!-- In this case event name is derived from event type as mynamespace:events:mycustomevent2 -->
            <!-- <event type="MyNamespace.Events.MyCustomEvent2, MyLibrary"/> -->
          </events>
          
        </processor>
      </initialize>
    </pipelines>

    <events timingLevel="custom">
      <!-- Define your event handlers here -->

      <!--
      <event name="my:customevent1">
        <handler type="MyNamespace.MyHandler, MyLibrary" method="MyHandlerMethod" />
      </event>
      <event name="mynamespace:events:mycustomevent2">
        <handler type="MyNamespace.MyHandler, MyLibrary" method="MyHandlerMethod" />
      </event>
      -->
    </events>

  </sitecore>
</configuration>